html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.bodypocetna {
    font-size: 20px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #00949b 0%,
        #75cedc 100%
    );
}

.bodydruga {
    font-size: 20px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #dbad39 0%,
        #b9a676 100%
    );
}

.bodyslusam {
    font-size: 20px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #e490cf 0%,
        #ddb2d2  100%
    );
}

.bodyoprojektu{
    font-size: 20px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #6fc4ec 0%,
        #4e8ecd 100%
    );
}

.header-slike img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main-nav a.active {
    font-weight: bold;
}

.header-slike {
    display: flex;
    flex-direction: row;  
    align-items: center;
    padding:10px;
    gap: 10px;
    background-color: white;
}

.header-slike a {
    width: 150px;
    height: 90px;
    display: flex;
    flex-shrink: 0px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    justify-content: center;
}

.iznadslika {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    padding: 30px 20px 30px 20px;
}

/* NAV */ 

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-linkovi{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav {
    background-color: white;
    padding: 20px 20px 10px 20px;
    margin: auto;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: right;
    flex-wrap: wrap;
}

.main-nav .navnaslov a{
    font-style: italic;
    font-size: 25px;
    font-weight: 500;
    color: #4a9469;
    white-space: nowrap;
    margin-right: auto;
    background-color: white;
}

.main-nav .navnaslov a:hover {
    background-color:white;
}

.main-nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.main-nav a:hover {
    background-color: #babbbe;
}

@media (max-width: 768px) {
    .main-nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav a {
        width: 100%;
    }
}

/* BREADCRUMBS */

.breadcrumbs {
    background-color: #f2f2f2;
    padding: 10px 20px;
    font-size: 16px;
    color: #555;
    border-bottom: #f2f2f2 2px solid;
}

.breadcrumbs a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    margin: 0 5px;
}

/* FOOTER */

.footer {
    padding: 20px 40px 0 40px;
    border-top: 2px solid #1157722a;
    flex-wrap: wrap;
}

.footer .footersadrzaj {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footerlijevo {
    display: flex;
    gap: 15px;
}

.footer .footerlijevo img {
    height: 160px;
    width: 120px;
    object-fit: contain;
    border-radius: 5px;
}

.footer .footerdesno {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-right: 20px;
}

.footer .footerdesno a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.2s;
}

.footer .footerdesno a:hover {
    color: #115772;
}

.footer .footerispod {
    margin-top: 15px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #000000;
    border-top: 1px solid #1157722a;
}

/* SLIKE */

.okvirslike {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.div-slike {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.glavne-slike {
    padding: 50px 0;
    text-align: center;
}

.glavne-slike .slike-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    justify-items: center;
}

.glavne-slike .glslike {
    width: 500px;
    
}

.glavne-slike .glslike img {
    width: 100%;
    aspect-ratio: 4 / 3;  
    height: auto;
    display: block;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.glavne-slike .glslike img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2);
}

.glavne-slike .glslike p {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* SLIKE2 – ŠTO SVE ZNAM */

.glavne-slike .slike2 {
    width: 500px;
}

.glavne-slike .slike2 img {
    width: 100%;
    aspect-ratio: 4 / 3;     
    object-fit: contain;     
    background-color: #fff; 
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.glavne-slike .slike2 p {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.glavne-slike .slike2 img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(190, 159, 19, 0.2);
}


/* BURGER */

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 20px;
    height: 3px;
    background-color: #000;
    display: block;
}

@media (max-width: 1400px) {

    .nav-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .burger {
        display: flex;
        order: 2;
    }

    .navnaslov {
        order: 1;
    }

    .main-nav ul {
        display: none;
        width: 100%;
        order: 3;
        flex-direction: column;
        background: #fff;
        padding: 10px 0;
        margin-top: 10px;
    }

    .main-nav ul.active {
        display: flex;
    }
}

.tri-okvira {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.okvir {
    background-color: #9cb4ec;
    border-radius: 12px;
    padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.okvir img {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.okvir h3 {
    font-size: 1.3rem;
    margin: 0;
}

.okvir:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(96, 137, 241, 0.15);
}

/* Padajući - O projektu */
.dropdown {
    position: relative;
}

/* padajući izbornik – skriven */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #8fa5d8;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 180px;

    display: none;      /* ← SKRIVEN */
    opacity: 0;
    visibility: hidden;

    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    z-index: 999;
}

/* pojavljuje se SAMO na hover */
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* linkovi */
.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #94a4c9;
}

.srednji-tekst {
    max-width: 900px;
    margin: 80px auto;
    padding: 40px 30px;
    background-color: #e0e4ed;
    border-radius: 12px;
    line-height: 1.8;
    font-size: 1.05rem;
    color: #000;
}

.srednji-tekst p {
    margin-bottom: 20px;
    text-align: justify;
}
.oprojektu-tekst {
    max-width: 1000px;
    margin: 60px auto;
    padding: 40px;
    background-color: #f2f4f8;
    border-radius: 14px;
    line-height: 1.9;
    font-size: 1.05rem;
    color: #000;
}

.oprojektu-tekst p {
    margin-bottom: 22px;
    text-align: justify;
}